    <div class="kv is-pc">
      <div class="kv_inner">
        <div class="kv_logo">
          <img src="images/kv/logo.png?v={{ version }}" alt="" />
        </div>
        <ul class="kv_panel">
          <li>
            <div class="kv_panel_img">
              <img src="images/kv/panel_1.png?v={{ version }}" alt="" />
            </div>
          </li>
          <li>
            <div class="kv_panel_img">
              <img src="images/kv/panel_2.png?v={{ version }}" alt="" />
            </div>
          </li>
          <li>
            <div class="kv_panel_img">
              <img src="images/kv/panel_3.png?v={{ version }}" alt="" />
            </div>
          </li>
          <li>
            <div class="kv_panel_img">
              <img src="images/kv/panel_4.png?v={{ version }}" alt="" />
            </div>
          </li>
          <li>
            <div class="kv_panel_img">
              <img src="images/kv/panel_5.png?v={{ version }}" alt="" />
            </div>
          </li>
          <li>
            <div class="kv_panel_img">
              <img src="images/kv/panel_6.png?v={{ version }}" alt="" />
            </div>
          </li>
          <li>
            <div class="kv_panel_img">
              <img src="images/kv/panel_7.png?v={{ version }}" alt="" />
            </div>
          </li>
          <li>
            <div class="kv_panel_img">
              <img src="images/kv/panel_8.png?v={{ version }}" alt="" />
            </div>
          </li>
          <li>
            <div class="kv_panel_img">
              <img src="images/kv/panel_9.png?v={{ version }}" alt="" />
            </div>
          </li>
          <li>
            <div class="kv_panel_img">
              <img src="images/kv/panel_10.png?v={{ version }}" alt="" />
            </div>
          </li>
          <li>
            <div class="kv_panel_img">
              <img src="images/kv/panel_11.png?v={{ version }}" alt="" />
            </div>
          </li>
          <li>
            <div class="kv_panel_img">
              <img src="images/kv/panel_12.png?v={{ version }}" alt="" />
            </div>
          </li>
        </ul>
      </div>
        <span class="kv_line"/>
    </div>

    <div class="kv_sp is-sp">
      <div class="kv_sp_inner">
        <ul class="kv_sp_panel">
          <li>
            <img src="images/kv_sp/panel_1.png?v={{ version }}" alt="" />
          </li>
          <li>
            <img src="images/kv_sp/panel_2.png?v={{ version }}" alt="" />
          </li>
          <li>
            <img src="images/kv_sp/panel_3.png?v={{ version }}" alt="" />
          </li>
          <li>
            <img src="images/kv_sp/panel_4.png?v={{ version }}" alt="" />
          </li>
          <li>
            <img src="images/kv_sp/panel_5.png?v={{ version }}" alt="" />
          </li>
          <li>
            <img src="images/kv_sp/panel_6.png?v={{ version }}" alt="" />
          </li>
          <li>
            <img src="images/kv_sp/panel_7.png?v={{ version }}" alt="" />
          </li>
          <li>
            <img src="images/kv_sp/panel_8.png?v={{ version }}" alt="" />
          </li>
          <li>
            <img src="images/kv_sp/panel_9.png?v={{ version }}" alt="" />
          </li>
          <li>
            <img src="images/kv_sp/panel_10.png?v={{ version }}" alt="" />
          </li>
          <li>
            <img src="images/kv_sp/panel_11.png?v={{ version }}" alt="" />
          </li>
          <li>
            <img src="images/kv_sp/panel_12.png?v={{ version }}" alt="" />
          </li>

        </ul>
        <div class="kv_sp_logo fade-in-target">
          <img src="images/kv/logo.png?v={{ version }}" alt="" />
        </div>

      </div>


    </div>
